Screen {
    align: center middle;
}

#quit_dialog {
    background: $accent-darken-3;
    width: auto;
    text-align: center;
    padding: 1 4;
    text-style: bold;
}

EnvironmentsList {
    width: 100%;
    height: auto;
    margin: 2 2;
}


Environment {
    width: 1fr;
    layout: horizontal;
    padding: 1 2;
}

#env_name {
    width: 1fr;
}

#status {
    width: 2fr;
}

.delete {
    color: $error;
    text-style: bold;
}

.delete.--highlight {
    color: $error-lighten-2;
    background: $accent-darken-2;
}