Screen {
    align: center middle;
}

EnvironmentsList {
    width: 30;
    height: auto;
    margin: 2 2;
}


Environment {
    layout: horizontal;
    padding: 1 2;
}

.delete {
    color: $error;
    text-style: bold;
}

.delete.--highlight {
    color: $error-lighten-2;
    background: $accent-darken-2;
}